*{
    border: 0;
    margin: 0;
}
div{
    background-color: blue;
    height: 40px;
    width: 100%;    
    line-height: 40px;
}

div a{
    color: white;
    padding: 12px;
      
}
div a:hover{
    background-color: white;
    color: blue;
    
}
